<!DOCTYPE html>
<html data-ng-app="miniapp">

<head>
  <meta charset="UTF-8">
  <title>Eloviz</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/fonts.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/surcharge_bootstrap.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
  <link href="/css/component-caption-hover.css" rel="stylesheet">
  <link href="/css/bootstrapValidator.min.css" rel="stylesheet">
</head>


<body data-spy="scroll" scroll>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
<script src="/js/angular-translate.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/controller.js"></script>
<script src="/js/modernizr.custom.js"></script>
<!-- <script src="/js/toucheffects.js"></script> -->
<script src="/js/bootstrapValidator.min.js"></script>
<script src="/js/jquery.imageScroll.min.js"></script>
<script src="/js/main.js"></script>

<div id="main" class="container-fluid my-main-container">

<header id="home" data-ng-controller="AppController" data-ng-style="style()" resize>

<div id="navbar" class="navbar navbar-default my-navbar my-navbar-notfixed" role="navigation"> <!-- navbar-fixed-top -->
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" data-ng-app="">
      <button type="button" class="navbar-toggle my-navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand my-navbar-brand" href="#home"><img src="images/logo.png" width="{{ height_logo * 3.52 }}" height="{{ height_logo }}" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="TranslateController">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home">{{ 'HOME' | translate }}</a></li>
        <li><a href="#project">{{ 'PROJECT' | translate }}</a></li>
        <li><a href="#technologies">{{ 'TECHNOLOGIES' | translate }}</a></li>
        <li><a href="#team">{{ 'TEAM' | translate }}</a></li>
        <li><a href="#contact">{{ 'CONTACT' | translate }}</a></li>
        <li><a>&nbsp;</a></li>
        <li><a ng-click="changeLanguage('en')" class="li-lang" ng-class="{ 'li-lang-selected' : (current_language == 'en') }">{{ 'EN' | translate }}</a></li>
        <li><a ng-click="changeLanguage('fr')" class="li-lang" ng-class="{ 'li-lang-selected' : (current_language == 'fr') }">{{ 'FR' | translate }}</a></li>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>

</header>

<!-- PROJECT -->

<section id="project">

<div class="img-holder" data-image="/images/header-project.png">
  <p class="title-holder"><span class="title-holder-min">{{ 'NOTRE' | translate }}</span><br /><span class="title-holder-max">{{ 'PROJET' | translate }}</span></p>
</div>

<div class="row" style="text-align:center; padding: 60px">
  <div class="col-md-4">{{ 'PROJECT' | translate }}</div>
  <div class="col-md-4">{{ 'PROJECT' | translate }}</div>
  <div class="col-md-4">{{ 'PROJECT' | translate }}</div>
</div>
<div class="row" style="text-align:center; padding: 60px">
  <div class="col-md-4">{{ 'PROJECT' | translate }}</div>
  <div class="col-md-4">{{ 'PROJECT' | translate }}</div>
  <div class="col-md-4">{{ 'PROJECT' | translate }}</div>
</div>
<div class="row" style="text-align:center; padding: 60px">
  <div class="col-md-4">{{ 'PROJECT' | translate }}</div>
  <div class="col-md-4">{{ 'PROJECT' | translate }}</div>
  <div class="col-md-4">{{ 'PROJECT' | translate }}</div>
</div>
<div class="row" style="text-align:center; padding: 60px">
  <div class="col-md-4">{{ 'PROJECT' | translate }}</div>
  <div class="col-md-4">{{ 'PROJECT' | translate }}</div>
  <div class="col-md-4">{{ 'PROJECT' | translate }}</div>
</div>
<div class="row" style="text-align:center; padding: 60px">
  <div class="col-md-4">{{ 'PROJECT' | translate }}</div>
  <div class="col-md-4">{{ 'PROJECT' | translate }}</div>
  <div class="col-md-4">{{ 'PROJECT' | translate }}</div>
</div>

</section>

<!-- TECHNOLOGIES -->

<section id="technologies">

<div class="img-holder" data-image="/images/header-technologies.png">
  <p class="title-holder"><span class="title-holder-min">{{ 'THE' | translate }}</span><br /><span class="title-holder-max">{{ 'TECHNOLOGIES' | translate }}</span></p>
</div>

<div class="row" style="text-align:center; padding: 60px">
  <div class="col-md-4">{{ 'TECHNOLOGIES' | translate }}</div>
  <div class="col-md-4">{{ 'TECHNOLOGIES' | translate }}</div>
  <div class="col-md-4">{{ 'TECHNOLOGIES' | translate }}</div>
</div>
<div class="row" style="text-align:center; padding: 60px">
  <div class="col-md-4">{{ 'TECHNOLOGIES' | translate }}</div>
  <div class="col-md-4">{{ 'TECHNOLOGIES' | translate }}</div>
  <div class="col-md-4">{{ 'TECHNOLOGIES' | translate }}</div>
</div>
<div class="row" style="text-align:center; padding: 60px">
  <div class="col-md-4">{{ 'TECHNOLOGIES' | translate }}</div>
  <div class="col-md-4">{{ 'TECHNOLOGIES' | translate }}</div>
  <div class="col-md-4">{{ 'TECHNOLOGIES' | translate }}</div>
</div>
<div class="row" style="text-align:center; padding: 60px">
  <div class="col-md-4">{{ 'TECHNOLOGIES' | translate }}</div>
  <div class="col-md-4">{{ 'TECHNOLOGIES' | translate }}</div>
  <div class="col-md-4">{{ 'TECHNOLOGIES' | translate }}</div>
</div>
<div class="row" style="text-align:center; padding: 60px">
  <div class="col-md-4">{{ 'TECHNOLOGIES' | translate }}</div>
  <div class="col-md-4">{{ 'TECHNOLOGIES' | translate }}</div>
  <div class="col-md-4">{{ 'TECHNOLOGIES' | translate }}</div>
</div>

</section>

<!-- TECHNOLOGIES -->

<section id="team">

<div class="img-holder" data-image="/images/header-team.png">
  <p class="title-holder"><span class="title-holder-min">{{ 'OUR' | translate }}</span><br /><span class="title-holder-max">{{ 'TEAM' | translate }}</span></p>
</div>

<div class="row" style="padding-bottom: 40px; margin-top: 40px;">

<ul id="team-photos" class="grid cs-style-3">
  <li>
    <figure>
      <img src="/images/team/team-dylan.jpg" alt="Dylan LABORIE">
      <figcaption>
          <h3>Dylan LABORIE</h3>
          <span>{{ 'DEVELOPER' | translate }}</span>
          <!--<a href="">Button</a>-->
      </figcaption>
    </figure>
  </li>

  <li>
    <figure>
      <img src="/images/team/team-john.jpg" alt="Jonathan SCANZI">
      <figcaption>
          <h3>Jonathan SCANZI</h3>
          <span>{{ 'DESIGNER' | translate }}</span>
      </figcaption>
    </figure>
  </li>

  <li>
    <figure>
      <img src="/images/team/team-jb.jpg" alt="Jean-Baptiste GOSSELIN">
      <figcaption>
          <h3>Jean-Baptiste GOSSELIN</h3>
          <span>{{ 'DEVELOPER' | translate }}</span>
      </figcaption>
    </figure>
  </li>

  <li>
    <figure>
      <img src="/images/team/team-stephane.jpg" alt="Stéphane CARAMANNO">
      <figcaption>
          <h3>Stéphane CARAMANNO</h3>
          <span>{{ 'DEVELOPER' | translate }}</span>
      </figcaption>
    </figure>
  </li>

  <li>
    <figure>
      <img src="/images/team/team-guillaumel.jpg" alt="Guillaume LABBE">
      <figcaption>
          <h3>Guillaume LABBE</h3>
          <span>{{ 'DEVELOPER' | translate }}</span>
      </figcaption>
    </figure>
  </li>

  <li>
    <figure>
      <img src="/images/team/team-guillaumec.jpg" alt="Guillaume CASSAND">
      <figcaption>
          <h3>Guillaume CASSAND</h3>
          <span>{{ 'DEVELOPER' | translate }}</span>
      </figcaption>
    </figure>
  </li>

  <li>
    <figure>
      <img src="/images/team/team-julien.jpg" alt="Julien VESY">
      <figcaption>
          <h3>Julien VESY</h3>
          <span>{{ 'DEVELOPER' | translate }}</span>
      </figcaption>
    </figure>
  </li>

  <li>
    <figure>
      <img src="/images/team/team-joris.jpg" alt="Joris ALBAGNAC">
      <figcaption>
          <h3>Joris ALBAGNAC</h3>
          <span>{{ 'DEVELOPER' | translate }}</span>
      </figcaption>
    </figure>
  </li>
</ul>
</div>
</section>

<!-- CONTACT -->

<section id="contact">
<div class="img-holder" data-image="/images/header-contact.png">
  <p class="title-holder"><span class="title-holder-min">{{ 'HOW_TO' | translate }}</span><br /><span class="title-holder-max">{{ 'CONTACT_US' | translate }}</span></p>
</div>

<div class="row" style="padding-bottom: 40px; margin-top: 40px;">
  <div class="col-md-4 col-md-offset-2 bloc-form-mail">

    <form autocomplete="off" role="form" name="formContactUs" ng-submit="submit_contact_us(formContactUs.$valid)" ng-controller="ContactUsController" novalidate>
      <div class="row">
        <div class="col-md-6 form-group" ng-class="{ 'has-error' : formContactUs.contactInputFirstname.$invalid && submitted }">
          <input required ng-model="contactInputFirstname" type="text" class="form-control input-contact" name="contactInputFirstname" placeholder="{{ 'FIRSTNAME' | translate }} *">
          <p ng-show="formContactUs.contactInputFirstname.$invalid && submitted" class="help-block">{{ 'FIRSTNAME_ERR_EMPTY' | translate }}</p>
        </div>
        <div class="col-md-6 form-group" ng-class="{ 'has-error' : formContactUs.contactInputLastname.$invalid && submitted }">
          <input required ng-model="contactInputLastname" type="text" class="form-control input-contact" name="contactInputLastname" placeholder="{{ 'LASTNAME' | translate }} *">
          <p ng-show="formContactUs.contactInputLastname.$invalid && submitted" class="help-block">{{ 'LASTNAME_ERR_EMPTY' | translate }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 form-group" ng-class="{ 'has-error' : (formContactUs.contactInputEmail.$error.required && submitted) || (!formContactUs.contactInputEmail.$error.required && formContactUs.contactInputEmail.$invalid && submitted) }">
          <input required ng-model="contactInputEmail" type="email" class="form-control input-contact" name="contactInputEmail" placeholder="{{ 'EMAIL' | translate }} *">
          <p ng-show="formContactUs.contactInputEmail.$error.required && submitted" class="help-block">{{ 'MAIL_ERR_EMPTY' | translate }}</p>
          <p ng-show="!formContactUs.contactInputEmail.$error.required && formContactUs.contactInputEmail.$invalid && submitted" class="help-block">{{ 'MAIL_ERR_WRONG' | translate }}</p>
        </div>
        <div class="col-md-6 form-group">
          <input ng-model="contactInputPhone" type="phone" class="form-control input-contact" name="contactInputPhone" placeholder="{{ 'PHONE' | translate }}">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group" ng-class="{ 'has-error' : formContactUs.contactInputSubject.$invalid && submitted }">
          <input required ng-model="contactInputSubject" type="text" class="form-control input-contact" name="contactInputSubject" placeholder="{{ 'SUBJECT' | translate }} *">
          <p ng-show="formContactUs.contactInputSubject.$invalid && submitted" class="help-block">{{ 'SUBJECT_ERR_EMPTY' | translate }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group" ng-class="{ 'has-error' : (formContactUs.contactInputMessage.$error.required && submitted) || (!formContactUs.contactInputMessage.$error.required && formContactUs.contactInputMessage.$invalid && submitted) }">
          <textarea required ng-model="contactInputMessage" class="form-control input-contact" rows="7" ng-minlength="20" name="contactInputMessage" placeholder="{{ 'MESSAGE' | translate }} *"></textarea>
          <p ng-show="formContactUs.contactInputMessage.$error.required && submitted" class="help-block">{{ 'MSG_ERR_EMPTY' | translate }}</p>
          <p ng-show="!formContactUs.contactInputMessage.$error.required && formContactUs.contactInputMessage.$invalid && submitted" class="help-block">{{ 'MSG_ERR_20CARAC' | translate }}</p>
        </div>
      </div>

      <p ng-show="sent" style="margin-left: 15px;">{{ 'SUCCESS_MESSAGE' | translate }}</p>

      <input ng-show="!sent" type="submit" class="btn btn-default btn-form-contact pull-right" value="{{ 'SUBMIT' | translate }}"/>

    </form>
  </div>

  <div class="col-md-6">
    <div class="row contact_mail">
        <a style="text-decoration: none; outline: none;" href="mailto:eloviz_2016@labeip.epitech.eu" target="_top">
          <i class="fa fa-lg fa-envelope-o" style="color: black;"></i><span class="mail_link">&nbsp;&nbsp;eloviz_2016@labeip.epitech.eu</span>
        </a>
    </div>
    <div class="row">{{ 'IF_QUESTION' | translate }}</div>
  </div>
</div>

</section>

</div>

<footer class="footer">
  <div class="row">
    <div class="col-md-6 text-center">
        © 2014 <a href="http://eloviz.com" class="social-button">Eloviz</a>. {{ 'RIGHTS_RESERVED' | translate }}
    </div>
    <div class="col-md-6 text-center">
      <a href="" class="social-button"><i class="fa fa-lg fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
      <a href="" class="social-button"><i class="fa fa-lg fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;
      <a href="" class="social-button"><i class="fa fa-lg fa-google-plus"></i></a>
    </div>
  </div>
</footer>

</body>
</html>
